name: Go

permissions: {}

on:
  workflow_call:
    inputs:
      go-versions:
        type: string
        # Arrays are currently not accepted:
        # https://github.com/orgs/community/discussions/11692
        default: "['stable', 'oldstable']"
      tests-excludes-regex:
        type: string
        description: "grep -E regex for excluding certain packages from testing"
      race-tests-excludes-regex:
        type: string
        description: "grep -E regex for excluding certain packages from race testing, this DOES NOT include packages excluded from regular testing"
      coverage-excludes-regex:
        type: string
        description: "grep -E regex for excluding certain packages from coverage reporting"
      skip-race-tests:
        type: boolean

jobs:
  build_and_test:
    name: Build and Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go: ${{ fromJson(inputs.go-versions) }}
    permissions:
      contents: read
      # For goveralls to submit coverage
      statuses: write

    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ matrix.go }}
        id: go

      - name: Get dependencies
        run: |
          go mod download

      - name: Go Mod should be tidy
        run: |
          go mod tidy
          diff -u <(echo -n) <(git diff)

      - name: Build packages
        run: go build -v ./...

      - name: Run coverage
        env:
          COVERAGE_EXCLUDES_REGEX: ${{ inputs.coverage-excludes-regex }}
        run: |
          if [ -z "${COVERAGE_EXCLUDES_REGEX}" ]; then
            echo "Running for all packages"
            go test -v -coverprofile=profile.cov ./...
          else
            echo "Running for non-excluded packages"
            go test -v -coverprofile=profile.cov $(go list ./... | grep -E -v "${COVERAGE_EXCLUDES_REGEX}")
          fi

      - name: Install goveralls
        if: ${{ matrix.go == fromJson(inputs.go-versions)[0] }}
        run: go install github.com/mattn/goveralls@latest

      - name: Submit coverage
        if: ${{ matrix.go == fromJson(inputs.go-versions)[0] }}
        env:
          COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: goveralls -coverprofile=profile.cov -service=github

      - name: Run Tests
        env:
          TESTS_EXCLUDE_REGEX: ${{ inputs.tests-excludes-regex }}
        run: |
          if [ -z "${TESTS_EXCLUDE_REGEX}" ]; then
            echo "Running for all packages"
            go test -v ./...
          else
            echo "Running for non-excluded packages"
            go test -v $(go list ./... | grep -E -v "${TESTS_EXCLUDE_REGEX}")
          fi

      - name: Run race tests
        env:
          RACE_TESTS_EXCLUDES_REGEX: ${{ inputs.race-tests-excludes-regex }}
        if: ${{ !inputs.skip-race-tests }}
        run: |
          if [ -z "${RACE_TESTS_EXCLUDES_REGEX}" ]; then
            echo "Running for all packages"
            go test -race -v ./...
          else
            echo "Running for non-excluded packages"
            go test -race -v $(go list ./... | grep -E -v "${RACE_TESTS_EXCLUDES_REGEX}")
          fi

  golangci:
    name: lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: "0"
          persist-credentials: false

      - name: Install Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "stable"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          args: --config=.github/linters/.golangci.yml
