name: Linter

on:
  push:
    branches: [main]
  pull_request: {}
  workflow_call: {}

permissions: {}

jobs:
  lint:
    name: Lint Code Base
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read

    steps:
      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Lint Code Base
        uses: super-linter/super-linter@d5b0a2ab116623730dd094f15ddc1b6b25bf7b99 # v8.3.2
        env:
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_BIOME_FORMAT: false
          VALIDATE_BIOME_LINT: false
          VALIDATE_GO: false
          VALIDATE_HTML: false
          VALIDATE_KUBERNETES_KUBECONFORM: false
          VALIDATE_JSCPD: false
          # GitHub actions often contain $(go list ./...) as part of commands
          GITHUB_ACTIONS_COMMAND_ARGS: -ignore SC2046
          IGNORE_GENERATED_FILES: true
          DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}
          MULTI_STATUS: false
